*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.cart-container{
    padding: 40px 50px;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #9a9a9a;
}

.cart-container .emptycart{
    margin-top: 30px;
    margin-left: 40%;
}

.cart-container .emptycart h2{
    font-size: 32px;
    color: #010f1c;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}

.cart-container .emptycart .emptycartbtn{
    margin-left: 70px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #010f1c;
}

.cart-container .content{
    max-width: 100%;
    padding: 20px 30px;
}

.cart-container .content .cart-item{
    padding: 20px 30px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-container .content .cart-item .img-box{
    padding: 20px 20px;
    background-color: #f1f1f1;
}


.cart-container .content .cart-item .img-box img{
    width: 250px;
    height: 250px;
}

.cart-container .content .cart-item .detail{
    margin-left: 60px;
    display: flex;
    margin-top: 30px;
    padding: 20px 30px;
}

.cart-container .content .cart-item .detail .info h4{
    text-transform: uppercase;
    font-size: 16px;
    color: #9a9a9a;
    font-weight: 100;
    letter-spacing: 1.5px;
}

.cart-container .content .cart-item .detail .info h3{
    margin-top: 20px;
    color: #010f1c;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
}

.cart-container .content .cart-item .detail .info p{
    margin-top: 10px;
    color: #010f1c;
    letter-spacing: 1px;
}

.cart-container .content .cart-item .detail .info .qty{
    margin-top: 10px;
    display: flex;

}

.cart-container .content .cart-item .detail .info .qty .inc{
    padding: 10px 10px;
    background-color: none;
    outline: none;
    border: none;
    color: #0989ff;
    font-size: 18px;
    cursor: pointer;
}

.cart-container .content .cart-item .detail .info .qty input{
    border: none;
    outline: none;
    background-color: none;
    font-size: 22px;
    color: #010f1c;
    width: 50px;
    margin-left: 20px;
}


.cart-container .content .cart-item .detail .info .qty .dec{
    padding: 10px 10px;
    background-color: none;
    outline: none;
    border: none;
    color: #0989ff;
    font-size: 18px;
    cursor: pointer;
}


.cart-container .content .cart-item .detail .info .total {
    margin-top: 20px;
}

.cart-container .content .cart-item .detail .info .total h4{
    color: #010f1c;
    font-size: 20px;
    margin-top: 10px;
}

.cart-container .content .cart-item .detail .info .total .buy{
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #010f1c;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.cart-container .content .cart-item .detail .close{
    margin-top: 30px;
    margin-left: 100px;
}

.cart-container .content .cart-item .detail .close button{
    padding: 3px 5px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #db0045;
    background-color: none;
    cursor: pointer;
}